<footer class="text-center text-uppercase">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="text-center">
        <a href="https://www.bleed6.com" target="_blank">
          Personal Website
          <sup class="fa fa-external-link-alt"></sup>
        </a>
        <br />
        <a href="https://www.upwork.com/fl/ananthanunni" target="_blank">
          Upwork profile
          <sup class="fa fa-external-link-alt"></sup>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <small>&copy; {{year}}-{{year+1}} All rights reserved</small>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="text-center">
        <ul class="social-network">
          <li>
            <a target="_blank" href="https://www.twitter.com/ananthanunni">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/ananthanunni" class="waves-effect waves-dark">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.instagram.com/ananthanunni/" class="waves-effect waves-dark">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
