<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">
    <strong class="text-primary">{{brand}}</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item" [routerLinkActive]="['active']" *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>-->
      <li class="nav-item" [routerLinkActive]="['owners']" *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="['owners']">Owners</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['appointments']" *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="['appointments']">Appointments</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
      <li class="navbar-text">
        <span class="fa fa-user text-primary"></span>
        &nbsp;
        <strong>{{currentUser}}</strong> &nbsp;
      </li>
      <li class="nav-item " [routerLinkActive]="['owners']">
        <a class="nav-link btn btn-danger" (click)="signOut()" [routerLink]="['home']">
          Sign out
        </a>
      </li>
    </ul>
  </div>
</nav>
