<div class="modal-header">
  <h4 class="modal-title" [innerHtml]="displayTitle"></h4>
  <button type="button" *ngIf="config.allowDismiss" class="close" aria-label="Close"
          (click)="activeModal.dismiss()">
          <span class="fa fa-times text-danger"></span>
  </button>
</div>
<div class="modal-body" [innerHtml]="displayMessage">
 
</div>
<div class="modal-footer">
  <button *ngFor="let button of config.buttons" (click)="buttonClicked(button)" class="btn" [ngClass]="{'btn-primary':button.isDefault, 'btn-danger':button.isDanger}">
    <span [ngClass]="button.iconCss"></span>
    <span *ngIf="button.iconCss&&button.label">&nbsp;</span>
    <span>{{button.label}}</span>
  </button>
</div>
